POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=rust_demo

# DATABASE_URL=postgres://postgres:admin@postgres/rust_demo # DATABASE_URL for Docker
DATABASE_URL=postgres://postgres:admin@localhost/rust_demo # DATABASE_URL for local development

JWT_SECRET=123456789876543212345678987654321